.signup {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  position: relative;
}

.errorAlert {
  background-color: #f8d7da;
  color: #842029;
  border: solid 1px #842029;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1em;
}

form,
.alert {
  width: 70%;
  margin: 1.125em auto;
  max-width: 350px;
}

.alert {
  border-radius: 3px;
  padding: 0.5em 1.125em;
}

input {
  background-color: #ededed;
  height: 40px;
  padding-left: 20px;
  width: 100%;
}

label {
  width: 100%;
  text-align: left;
  display: inline;
  margin-bottom: 0.5em;
}

input,
button {
  border: none;
  border-radius: 3px;
}

.backArrow {
  color: white;
}

.return {
  background-color: transparent;
  padding: 1em;
  position: absolute;
  left: 40px;
}

.btn-primary {
  background-color: #ea2b2b;
  height: 34px;
  width: 100px;
  min-width: 100px;
  color: white;
  margin-top: 1em;
}

@media only screen and (max-width: 420px) {
  .return {
    background-color: transparent;
    padding: 1em;
    position: absolute;
    left: 0;
    top: -40px;
  }
}
