.App {
  text-align: center;
}

.App-logo {
  position: absolute;
  top: 0;
  height: 80px;
  pointer-events: none;
}

h2 {
  font-size: 24pt;
  font-weight: 500;
  color: #505050;
}

.Requester-name {
  color: black;
}

.App-link {
  color: black;
  position: absolute;
  bottom: 0;
}
