.successAlert {
  background-color: #dff8d7;
  color: #288420;
  border: solid 1px #288420;
  border-radius: 3px;
  padding: 0.5em 1.125em;
}

h3 {
  font-size: 18pt;
  color: #505050;
  font-weight: 500;
  max-width: 215px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 1em;
}

button:hover {
  cursor: pointer;
}

.load {
  padding-top: 3em;
  width: 100px;
  height: auto;
}

.hidden {
  display: none;
}

.returnProfil {
  background-color: transparent;
  height: 34px;
  width: 100px;
  margin-top: 1em;
}
